@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  background-color: #FEFEFE;
}

a{
  text-decoration: none;

}

.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

header{
  grid-area: header;
  background-color: #0e0e0e;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.logo{
  font-size: 1.5rem;
  color: #FEFEFE;
}

a:hover{
  color: #008F96;
  transition: .4s ease;
}

aside{
  grid-area: menu;
  display: flex;
  flex-direction: column;
  border-right: solid #0e0e0e 1px;
  height: 100%;
}

.menu-container{
  padding: 1.8rem 0 0 2rem;
}

.menu-title h5{
  font-size: 1.2rem;
  font-weight: 500;
}

.categorias{
  color: #0e0e0e;
  }

main{
  grid-area: main;
  padding-left: 3rem;
}

.product-container{
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  border: solid #101010;
  border-radius: 0.5rem;
  width: 320px;
}

img{
  width: 100%;
  height: 300px;
}

.card-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-title h4{
  font-size: 1.5rem;
}

.card-title, .card-price{
  padding: 0 1rem;
}

.btn-card{
  width: 100%;
}

.button{
  width: 100%;
  color: #FEFEFE;
  background-color: #101010;
  padding: 0.5rem 0;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.button:hover{
  background-color: #008F96 ;
  transition: .4s ease-in-out;
}

.card-price p{
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.checked {
  color: orange;
}

footer{
  grid-area: footer;
  background-color: #101010;
  color: #FEFEFE;
  padding: 1rem;
  text-align: center;
}

footer p{
  cursor: pointer;
}

footer p:hover{
  color: #00878E;
  transition: .4s ease;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
  "header header"
  "menu main"
  "footer footer";
}

span{
  opacity: 0.6;
}